.header {
  background: #5c526d;
  justify-content: space-between;
  text-align: center;
  display: flex;
  overflow: hidden;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header img{
  height: 1.7rem;
  width: 9rem;
  margin-top: 0.8rem;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: #f78497;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.07rem;
  text-align: center;
  margin: 0.3rem;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.7rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-family: 'Handlee', cursive;
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1025px) {
  .header {
    padding: 0.6rem;
    text-align: center;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
  }

  .header img{
    width: 17rem;
    margin-top: 2rem;
    height: 2rem;
  }

  h1 {
    margin: 1rem;
    display: inline-flex;
    padding: 0.2rem;
    font-size: 2.3rem;
  }

  h2 {
    font-size: 3.8rem;
    margin-bottom: 3.5rem;
    margin-top: 10rem;
  }
}




