#foodname,
#ingredients,
#description {
  border: 0.1rem solid black;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px #434343;
  font-size: 1.1rem;
}

#ingredients,
#description {
  height: 9rem;
  width: 14rem;
}

.AddRecipe_form {
  border: 0.1rem solid black;
  max-width: 30rem;
  padding: 1.5rem;
  text-align: center;
  margin: 1.6rem;
  font-size: 1.3rem;
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 768px) {
  .AddRecipe_form {
    margin: auto;
    max-width: 37rem;
    margin-bottom: 6rem;
  }

  #foodname,
  #ingredients,
  #description {
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 5px #434343;
    font-size: 1.5rem;
  }

  #ingredients,
  #description {
    height: 10rem;
    width: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 2.7rem;
  }

  label {
    font-size: 1.8rem;
  }

  .AddRecipe_form {
    margin: auto;
    max-width: 50rem;
    margin-bottom: 6rem;
  }

  #foodname,
  #ingredients,
  #description {
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 5px #434343;
    font-size: 1.5rem;
  }

  #foodname {
    width: 23rem;
  }

  #ingredients,
  #description {
    height: 10rem;
    width: 35rem;
  }
}



