body {
  text-align: center;
  background-color: #eeecec;
}

.recipeItem {
  list-style:none;
  margin-right: 2.1rem;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
}

.recipeItem_info {
  border: 0.1rem solid black;
  max-width: 46rem;
  padding-right: 1.2rem;
  box-shadow: 2px 2px 5px #424141;
}

button {
  background-color: #2a8a93;
  color: white;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

li {
  padding-bottom: 1rem;
  text-align: left;
  list-style-type: square;
}

@media screen and (min-width: 1024px) {
  .recipeItem {
    margin: auto;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }

  .recipeItem_info {
    margin: auto;
    max-width: 52rem;
  }

  button {
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1025px) {
  button {
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.8rem;
  }

  .recipeItem_info {
    margin: auto;
    max-width: 56rem;
  }
}


