body {
  text-align: center;
  background-color: #fcca9e;
}

.recipeItem {
  list-style:none;
  margin-right: 2.1rem;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
}

.recipeItem_info {
  border: 0.1rem solid black;
  max-width: 47rem;
  padding-right: 1.2rem;
  box-shadow: 2px 2px 5px #434343;
}

button {
  background-color: #328540;
  color: white;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

li {
  padding-bottom: 1rem;
  text-align: left;
  list-style-type: square;
}

@media screen and (min-width: 1024px) {
  .recipeItem {
    margin: auto;
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }

  .recipeItem_info {
    margin: auto;
    max-width: 51rem;
  }

  button {
    background-color: #328540;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1025px) {
  button {
    background-color: #328540;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
    opacity: 0.7;
    transition: 0.3s;
    text-decoration: none;
  }

  button:hover {
    opacity: 1.3;
  }
}



